*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #172937;
    color: #f2f2f2;
    padding: 30px;
    font-weight: 300;
    flex-wrap: wrap-reverse;
    position: fixed;  
    /* top: 0;
    left: 0; */
    text-align: center;
    /* z-index: 100; */
    /* border: solid 1px rgb(14, 13, 13); */
}

/* nav */

nav, nav ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    text-wrap: nowrap;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #f2f2f2;
}
nav a:hover{
    text-decoration: underline;
}
.branding{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
.brand-image{
    width: 36px;
    height: 36px;
    border-radius: 999px;
    background-color: #F2F2F2;
}
.resume-btn
{
    background-color: #172937;
    color: white;
    border-radius: 8px;
    border:1px #F37021 solid;
    padding:8px 16px;
}
.resume-btn:hover{
    cursor: pointer;
    background: #ce611d;
}
/* Hero */
.hero{
    display: flex;
    padding: 100px 70px;
    background-color: #172937 !important;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 60px; */
    /* height: 100%; */
}
.hero .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 70%;
    color:white !important;
    /* margin-top: 60px; */
}

.hero .details h1{
    font-size: 45px;
}
.hero .details h2{
  color: #F37021;
  font-size: 35px;
}

.hero .details h3{
  display: flex;
    font-size: 30px;
    font-weight: 500;
}

.hero span{
    color:#F37021
}

.hero .description{
    font-weight: 300;
    font-size: 22px;
    color : #f2f2f2;
    width: 60%;
    /* text-align: center; */
}

.hero .image{
    padding: 10px;
    width: 25dvw;
    /* height: 25vh; */
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: #F37021;
    transition: all 0.3s ease-in-out;
}
.hero .image img{
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}
.hero .image:hover{
  transform: scale(1.1) translateZ(20px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Skills */
#skills{
    background: linear-gradient(to right, #fef5e5,white, #e5e6fe);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:70px 80px;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}
.skill-container{
    background-color: white;
    /* width:1273px; */
    /* height: 274px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    padding: 38px 48px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px rgb(128, 125, 125);
}

.title{
    font-size: 40px;
    color: black;
}
.title span{
    color: #f37021
}

.description{
    font-size: 28px;
    font-weight: 400;
    color: #1F1F1F;
}

.skill{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    border: 2px #f37021 solid;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
}
.skill:hover{
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}



.skill img{
    width: 30px;
    height: 30px;
}
.skill span{
    font-size: 18px;
    font-weight: 300;
    color: #172a37;
}

/* certifications */
#certifications{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(to right, #fef5e5,white, #e5e6fe);
  height: 100%;
}
.linkedin{
    background: #f37021;
    color: white;
    height: 62px;
    width: 310px;
    border-radius: 8px;
    border: none;
    margin-block: 30px;
    font-size: larger;
    transition: all 0.3s ease-in-out;
}
.linkedin:hover{
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.linkedin a{
    text-decoration: none;
    color: white;
}
#certifications .cards-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

#certifications .card {
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

#certifications .card:hover{
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

#certifications .card-image {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 16px;
  text-align: center;
}

#certifications .project-img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  max-width: 384px; /* w-96 */
  max-height: 256px; /* h-64 */
}

/* Card content styling */
#certifications  .card-content {
  padding: 16px;
}

#certifications  .project-title {
  font-weight: bold; 
  font-size: 1.125rem; 
}

#certifications .card-content .description {
  margin-top: 8px; /* mt-2 */
  font-size: 1rem;
}

/* Projects */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(to right, #fef5e5,white, #e5e6fe);
  height: 100%;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project-card {
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  gap: 12px;
  transition: all 0.3s ease-in-out;
}

.project-card:hover{
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.project-link {
  text-decoration: none;
}
.project-link:hover{
  text-decoration: underline;
}

.project-card img {
  width: 100%;
  border-radius: 10px;
}
.project-details{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-details a{
  color: #000;
}
.project-details span{
  /* font-weight: bold; */
  /* color: #F37021; */
  /* font-size: large; */
  font-style: italic;
}
.project-details ul{
  list-style: disc;
  padding-inline:  15px;
}

/* Education */
#education {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(to right, #fef5e5,white, #e5e6fe);
}

.education-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  flex-grow: 1;
}

.education-card {
  display: flex;
  flex-direction: row;
  background: white;
  /* width: 250px; */
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.education-card:hover{
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.education-card div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.education-card img{
  width: 116px;
  height: 116px;
  aspect-ratio: 1;
  /* border-radius: 50%; */
}

.education-card span{
  color: #F37021;
  font-size: larger;
}


.footer-title {
  font-size: 40px;
  color: white;
}

.footer-description {
  color: white;
}

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 60px 20px;
  background: #172a37;
  color: white;
  flex-wrap: wrap;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.contact-btn {
  background: #f37021;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.contact-btn:hover {
  background: #ce611d;
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
/* Media Queries for Responsiveness */

/* For devices like tablets */
@media screen and (max-width: 1024px) {
  header {
      padding: 20px;
      flex-direction: column;
  }

  nav {
      gap: 30px;
  }

  .hero {
    /* margin-top: 70px; */
      padding: 80px 40px;
      flex-direction: column;
      gap: 20px;
  }

  .hero .details {
    margin-top: 80px;
      width: 100%;
      text-align: center;
  }
  .hero .details .description{
    text-align: center;
    align-self: center;
  }

  .hero .image {
      width: 300px;
      height: 300px;
  }

  #skills {
      padding: 50px 40px;
  }

  #certifications {
      padding: 50px 20px;
  }

  .projects-container, .education-container, .contact-container {
      flex-direction: column;
  }

  .project-card, .education-card {
      width: 80%;
      margin: 10px 0;
  }
  #contact .contact-container{
    /* display: inline; */
    flex-direction: row;
  }
}


/* For devices like mobile phones */
@media screen and (max-width: 768px) {
  header {
      padding: 15px;
  }

  nav {
      gap: 20px;
  }

  .hero {
      padding: 60px 30px;
      flex-direction: column;
      text-align: center;
  }
  .hero .details{
    margin-top: 200px;
  }
  .hero .details h1 {
      font-size: 30px;
  }

  .hero .details h2 {
      font-size: 28px;
  }

  .hero .description {
      font-size: 20px;
      width: 100%;
  }

  .hero .image {
      width: 250px;
      height: 250px;
  }

  #skills {
      padding: 40px 30px;
  }

  #certifications {
      padding: 40px 20px;
  }

  .projects-container, .education-container, .contact-container {
      flex-direction: column;
      align-items: center;
  }

  .project-card, .education-card {
      width: 100%;
      margin: 10px 0;
  }

  .contact-btn {
      padding: 8px 16px;
      font-size: 14px;
  }
}

/* For smaller mobile screens */
@media screen and (max-width: 480px) {
  .hero {
      padding: 40px 20px;
  }
  .hero .details{
    margin-top: 1000dvh;
  }
  .hero .details h1 {
      font-size: 24px;
  }

  .hero .details h2 {
      font-size: 22px;
  }

  .hero .image {
      width: 200px;
      height: 200px;
  }

  .title {
      font-size: 30px;
  }

  .description {
      font-size: 18px;
  }

  .project-card, .education-card {
      width: 90%;
  }

  .contact-btn {
      padding: 6px 12px;
      font-size: 12px;
  }
}